# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.F from.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\fsanc\Documents\Unity\F from\.idea\.idea.F from\.idea/dataSources/
/dataSources.local.xml
